@model proyecto_termotasajero.Models.ParametrosOperacionCapacitacionAgua

@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar</h1>

<h4>ParametrosOperacionCapacitacionAgua</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inicio" class="control-label"></label>
                <input asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finalizacion" class="control-label"></label>
                <input asp-for="Finalizacion" class="form-control" />
                <span asp-validation-for="Finalizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperadorTurno" class="control-label"></label>
                <input asp-for="OperadorTurno" class="form-control" />
                <span asp-validation-for="OperadorTurno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoltajeBarraBPW_kV" class="control-label"></label>
                <input asp-for="VoltajeBarraBPW_kV" class="form-control" />
                <span asp-validation-for="VoltajeBarraBPW_kV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corriente_A" class="control-label"></label>
                <input asp-for="Corriente_A" class="form-control" />
                <span asp-validation-for="Corriente_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BBT_A_Estado" class="control-label"></label>
                <input asp-for="BBT_A_Estado" class="form-control" />
                <span asp-validation-for="BBT_A_Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempAceiteReductor_A" class="control-label"></label>
                <input asp-for="TempAceiteReductor_A" class="form-control" />
                <span asp-validation-for="TempAceiteReductor_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresAceitePrincipal_A_kgcm2" class="control-label"></label>
                <input asp-for="PresAceitePrincipal_A_kgcm2" class="form-control" />
                <span asp-validation-for="PresAceitePrincipal_A_kgcm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresNormalLubricacion_A_kgcm2" class="control-label"></label>
                <input asp-for="PresNormalLubricacion_A_kgcm2" class="form-control" />
                <span asp-validation-for="PresNormalLubricacion_A_kgcm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresAguaEnfriamiento_A_kgcm2" class="control-label"></label>
                <input asp-for="PresAguaEnfriamiento_A_kgcm2" class="form-control" />
                <span asp-validation-for="PresAguaEnfriamiento_A_kgcm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempDevanadosFaseR_A" class="control-label"></label>
                <input asp-for="TempDevanadosFaseR_A" class="form-control" />
                <span asp-validation-for="TempDevanadosFaseR_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempDevanadosFaseS_A" class="control-label"></label>
                <input asp-for="TempDevanadosFaseS_A" class="form-control" />
                <span asp-validation-for="TempDevanadosFaseS_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempDevanadosFaseT_A" class="control-label"></label>
                <input asp-for="TempDevanadosFaseT_A" class="form-control" />
                <span asp-validation-for="TempDevanadosFaseT_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BBT_B_Estado" class="control-label"></label>
                <input asp-for="BBT_B_Estado" class="form-control" />
                <span asp-validation-for="BBT_B_Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempAceiteReductor_B" class="control-label"></label>
                <input asp-for="TempAceiteReductor_B" class="form-control" />
                <span asp-validation-for="TempAceiteReductor_B" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresAceitePrincipal_B_kgcm2" class="control-label"></label>
                <input asp-for="PresAceitePrincipal_B_kgcm2" class="form-control" />
                <span asp-validation-for="PresAceitePrincipal_B_kgcm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresNormalLubricacion_B_kgcm2" class="control-label"></label>
                <input asp-for="PresNormalLubricacion_B_kgcm2" class="form-control" />
                <span asp-validation-for="PresNormalLubricacion_B_kgcm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresAguaEnfriamiento_B_kgcm2" class="control-label"></label>
                <input asp-for="PresAguaEnfriamiento_B_kgcm2" class="form-control" />
                <span asp-validation-for="PresAguaEnfriamiento_B_kgcm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempRodamientoLadoLibre_B" class="control-label"></label>
                <input asp-for="TempRodamientoLadoLibre_B" class="form-control" />
                <span asp-validation-for="TempRodamientoLadoLibre_B" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempDevanadosFaseR_B" class="control-label"></label>
                <input asp-for="TempDevanadosFaseR_B" class="form-control" />
                <span asp-validation-for="TempDevanadosFaseR_B" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempDevanadosFaseS_B" class="control-label"></label>
                <input asp-for="TempDevanadosFaseS_B" class="form-control" />
                <span asp-validation-for="TempDevanadosFaseS_B" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempDevanadosFaseT_B" class="control-label"></label>
                <input asp-for="TempDevanadosFaseT_B" class="form-control" />
                <span asp-validation-for="TempDevanadosFaseT_B" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempRodamientoLadoAcople_B" class="control-label"></label>
                <input asp-for="TempRodamientoLadoAcople_B" class="form-control" />
                <span asp-validation-for="TempRodamientoLadoAcople_B" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BBT_C_Estado" class="control-label"></label>
                <input asp-for="BBT_C_Estado" class="form-control" />
                <span asp-validation-for="BBT_C_Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempAceiteReductor_C" class="control-label"></label>
                <input asp-for="TempAceiteReductor_C" class="form-control" />
                <span asp-validation-for="TempAceiteReductor_C" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresAceitePrincipal_C_kgcm2" class="control-label"></label>
                <input asp-for="PresAceitePrincipal_C_kgcm2" class="form-control" />
                <span asp-validation-for="PresAceitePrincipal_C_kgcm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresNormalLubricacion_C_kgcm2" class="control-label"></label>
                <input asp-for="PresNormalLubricacion_C_kgcm2" class="form-control" />
                <span asp-validation-for="PresNormalLubricacion_C_kgcm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresAguaEnfriamiento_C_kgcm2" class="control-label"></label>
                <input asp-for="PresAguaEnfriamiento_C_kgcm2" class="form-control" />
                <span asp-validation-for="PresAguaEnfriamiento_C_kgcm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempDevanadosFaseR_C" class="control-label"></label>
                <input asp-for="TempDevanadosFaseR_C" class="form-control" />
                <span asp-validation-for="TempDevanadosFaseR_C" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempDevanadosFaseS_C" class="control-label"></label>
                <input asp-for="TempDevanadosFaseS_C" class="form-control" />
                <span asp-validation-for="TempDevanadosFaseS_C" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempDevanadosFaseT_C" class="control-label"></label>
                <input asp-for="TempDevanadosFaseT_C" class="form-control" />
                <span asp-validation-for="TempDevanadosFaseT_C" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BbaB_CircuitoCerrado" class="control-label"></label>
                <input asp-for="BbaB_CircuitoCerrado" class="form-control" />
                <span asp-validation-for="BbaB_CircuitoCerrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BbaA_CircuitoCerrado" class="control-label"></label>
                <input asp-for="BbaA_CircuitoCerrado" class="form-control" />
                <span asp-validation-for="BbaA_CircuitoCerrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresDescargaCabezal_kgcm2" class="control-label"></label>
                <input asp-for="PresDescargaCabezal_kgcm2" class="form-control" />
                <span asp-validation-for="PresDescargaCabezal_kgcm2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

