@model proyecto_termotasajero.Models.NivelSiloVolatilUnidad

@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar</h1>

<h4>NivelSiloVolatilUnidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFinalizacion" class="control-label"></label>
                <input asp-for="HoraFinalizacion" class="form-control" />
                <span asp-validation-for="HoraFinalizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperadorTurno" class="control-label"></label>
                <input asp-for="OperadorTurno" class="form-control" />
                <span asp-validation-for="OperadorTurno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NivelSiloVolatilMetros" class="control-label"></label>
                <input asp-for="NivelSiloVolatilMetros" class="form-control" />
                <span asp-validation-for="NivelSiloVolatilMetros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

