@model proyecto_termotasajero.Models.NivelSiloVolatilUnidad

@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Registrar Nivel Silo Volátil Unidad</h4>
<hr />
<div class="row">
    <div class="col-md-8 col-lg-6">
        <form asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoraInicio">Hora de Inicio</label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="HoraFinalizacion">Hora de Finalización</label>
                <input asp-for="HoraFinalizacion" class="form-control" />
                <span asp-validation-for="HoraFinalizacion" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="CorreoElectronico">Correo Electrónico</label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Nombre">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="OperadorTurno">Operador de Turno</label>
                <input asp-for="OperadorTurno" class="form-control" />
                <span asp-validation-for="OperadorTurno" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="NivelSiloVolatilMetros">Nivel Silo Volátil (m)</label>
                <input asp-for="NivelSiloVolatilMetros" class="form-control" />
                <span asp-validation-for="NivelSiloVolatilMetros" class="text-danger"></span>
            </div><br />
            <div class="form-group mt-3">
                <input type="submit" value="Registrar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary ms-2">Regresar a la Lista</a>
            </div>
        </form>
    </div>
</div>